body {
    font-family: sans-serif;
}

.navigation {
    display: flex;
    align-content: baseline;
    height: 60px;
    background: #0f0f0f;
}

.navlink {
    padding: 6px;
    font-size: 1.3em;
    color: chocolate;
}

.navlink.active {
    color: brown;
}

.main {
    display: flex;
    height: 100%;
    background: antiquewhite;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: aqua;
}

input {
    border-bottom: 1px solid black;
    background: aliceblue;
}
